//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px toRem(30);
  border: 2px solid #e8e8e8;
  background: #e8e8e8;

  color: #1e1e1e;
  font-family: Gilroy;
  //   @include adaptiveValue("font-size", 18, 16);
  font-size: toRem(18);
  font-weight: 400;
  line-height: 20px; /* 111.111% */

  @include adaptiveValue("height", 64, 55);

  &:focus {
    border-color: #1e1e1e;
  }
  &::placeholder {
    color: #7e7e7e;
  }
  &._form-focus {
  }
  &._form-error {
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
