//<QUANTITY>
// Сніппет (HTML): qa

// <div data-quantity class=quantity>
// <button data-quantity-minus type=button class=quantity__button quantity__button--minus></button>
// <div class=quantity__input><input data-quantity-value autocomplete=off type=text name=form[] value=1></div>
// <button data-quantity-plus type=button class=quantity__button quantity__button--plus></button>
// </div>

.quantity {
  width: toRem(100);
  height: toRem(50);
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);

  // .quantity__button
  &__button {
    flex: 0 0 30px;
    position: relative;
    cursor: pointer;

    color: #130b0b;
    font-family: Gilroy;
    font-size: 29px;
    @include adaptiveValue("font-size", 29, 22);
    font-weight: 700;
    line-height: 120.7%; /* 35/29 */

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }

    // &::before,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transition: all 0.3s ease 0s;
    //   margin: 0px 0px 0px -4.5px;
    //   background-color: #a6a6a6;
    //   width: 9px;
    //   height: 1px;

    //   color: #130b0b;
    //   font-family: Gilroy;
    //   font-size: 29px;
    //   @include adaptiveValue("font-size", 29, 22);
    //   font-weight: 700;
    //   line-height: 120.7%; /* 35/29 */
    // }
    @media (any-hover: hover) {
      // &:hover {
      //   &::before,
      //   &::after {
      //     background-color: rgba(0, 0, 0, 0.5);
      //   }
      // }
    }
    // .quantity__button_plus
    &--plus {
      &::before {
        transform: rotate(-90deg);
      }
    }
    // .quantity__button_minus
    &--minus {
    }
  }
  // .quantity__input
  &__input {
    flex: 1 1 auto;
    input {
      height: 100%;
      width: 100%;
      text-align: center;

      color: #130b0b;
      font-family: Gilroy;
      font-size: 29px;
      @include adaptiveValue("font-size", 29, 22);
      font-weight: 700;
      line-height: 120.7%; /* 35/29 */
    }
  }
}
