// Заголовки, загальні БЕМ блоки та інше...

.pagination {
  pointer-events: all;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: toRem(10);
  row-gap: toRem(10);

  &.pagination_black {
    .swiper-pagination-bullet {
      background-color: #130b0b;
      border-color: #130b0b;
    }
    .swiper-pagination-bullet-active {
      background-color: transparent;
    }
  }

  .swiper-pagination-bullet {
    flex-shrink: 0;
    cursor: pointer;
    width: toRem(10);
    height: toRem(10);

    border-radius: 50%;
    background-color: #ec5027;
    border: 1px solid #ec5027;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }

    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: toRem(-5);
    }
  }

  .swiper-pagination-bullet-active {
    background-color: transparent;
  }
}

.navigation {
  pointer-events: none;
  &__button {
    pointer-events: all;
    @include adaptiveValue("width", 25, 20);
    @include adaptiveValue("height", 25, 16);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: toRem(15);
    color: #ec5027;

    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
      }
    }

    .navigation_black & {
      color: #130b0b;
    }
  }
}

.slider-control {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: toRem(30);
}

//========================================================================================================================================================

.title {
  color: #130b0b;
  font-family: Gilroy;
  @include adaptiveValue("font-size", 36, 24);
  font-weight: 700;
  line-height: 125%; /* 45/36 */

  &_white {
    color: #fff;
  }
}

//========================================================================================================================================================

.breadcrumbs {
  white-space: nowrap;
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    color: rgba(19, 11, 11, 0.5);
    font-family: "Gilroy";
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 122.2%; /* 22/18 */

    &:not(:last-child) {
      &::after {
        content: "/";
      }
    }
  }

  &__link {
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }
  }

  &__current {
    // color: #EC5027;
  }
}

//========================================================================================================================================================

%scrollbar {
  /* Общие стили для скроллбара */
  &::-webkit-scrollbar {
    width: toRem(3); /* Ширина скроллбара */
  }

  /* Стили для ползунка (thumb) скроллбара */
  &::-webkit-scrollbar-thumb {
    background-color: #ec5027; /* Цвет ползунка */
    border-radius: toRem(2); /* Закругление углов ползунка */
  }

  /* Стили для трека (track) скроллбара */
  &::-webkit-scrollbar-track {
    background-color: #dbd6d2; /* Цвет трека */
  }
}

//========================================================================================================================================================

// .fancybox__container {
//     max-width: none;
// }

//========================================================================================================================================================
