//====================================================================================================

.hero {
  padding-bottom: toRem(25);
  @include adaptiveValue("padding-top", 40, 30);
  &__container {
  }

  &__wrapper {
  }

  &__slider {
    position: relative;
  }

  &__slide {
    position: relative;

    padding-bottom: toRem(80);
    @include adaptiveValue("padding-top", 165, 60, 0, 1430, 767);
    @include adaptiveValue("padding-left", 35, 15, 0, 1430, 767);
    @include adaptiveValue("padding-right", 35, 15, 0, 1430, 767);
    @include adaptiveValue("min-height", 500, 400);
  }

  &__body {
  }

  &__text {
    color: #fff;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 40, 30);
    font-weight: 700;
    line-height: 125%;

    max-width: toRem(548);

    position: relative;
    z-index: 2;

    span {
      text-transform: uppercase;
    }
  }

  &__image-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__pagination {
    position: absolute;
    width: 100%;
    @include adaptiveValue("bottom", 45, 25);
    left: 0;
    z-index: 3;
  }
}

//====================================================================================================

//========================================================================================================================================================

.partners {
  @include adaptiveValue("padding-top", 25, 20);
  @include adaptiveValue("padding-bottom", 60, 35);
  &__container {
  }

  &__pagination {
  }

  &__navigation {
  }

  &__items {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 45, 25);
    }
  }

  &__wrapper {
  }

  &__item {
    img {
      max-width: 100%;
    }
  }
}

//========================================================================================================================================================

.products {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);
  &__container {
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 35);
    }
  }

  &__title {
    font-weight: 400;
    text-align: center;
  }

  &__link {
    display: inline-block;
    align-self: center;

    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 122.2%; /* 22/18 */
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }
  }

  &__slider {
    @media (min-width: $pc) {
      overflow: hidden;
    }
  }

  &__wrapper {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 70, 65);
    }
  }

  &__slide {
  }

  &__navigation {
  }

  &__pagination {
  }
}

.item-product {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-top: 1px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-bottom: none;
    pointer-events: none;
  }

  @media (any-hover: hover) {
    &:hover {
      &::before {
        border-color: #130b0b;
      }

      .item-product__sizes {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }
  }

  &__image-ibg {
    margin: 1px;
    padding-bottom: percent(400, 272);

    overflow: hidden;
    position: relative;

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }

    img {
      transition: transform 0.3s ease 0s;
    }
  }

  &__labels {
    pointer-events: none;

    position: absolute;
    top: toRem(20);
    right: toRem(20);
    z-index: 2;
  }

  &__favorite {
    position: absolute;
    bottom: toRem(20);
    right: toRem(20);
    width: toRem(30);
    height: toRem(30);
    @include adaptiveValue("font-size", 25, 20);

    color: #ec5027;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (any-hover: hover) {
      &:hover {
        &::before {
          content: "\e908";
        }
      }
    }
  }

  &__content {
    padding: toRem(10);

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__title {
    flex: 1 1 auto;

    @include adaptiveValue("font-size", 29, 22);
    font-weight: 700;
    line-height: 124.1%; /* 36/29 */

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }
  }

  &__catelory {
    display: inline-block;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 122.2%; /* 22/18 */

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }
  }

  &__price {
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__sizes {
    display: flex;
    align-items: center;
    gap: toRem(12);

    padding: toRem(10);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      pointer-events: none;

      @media (any-hover: hover) {
        border: 1px solid #130b0b;
        border-top: none;
      }
    }
  }

  &__size {
    font-size: toRem(16);
    font-weight: 400;
    line-height: 118.8%; /* 19/16 */

    transition: color 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
      }
    }
  }
}

.labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: toRem(10);
  &__label {
    padding: toRem(5) toRem(10);
    background-color: #ec5027;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    color: #fff;
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 500;

    @media (min-width: $mobile) {
      min-height: toRem(32);
    }

    &.sale {
      color: #ec5027;
      background-color: #fff;
      border: 1px solid #ec5027;
    }
  }
}

.price {
  @include adaptiveValue("font-size", 18, 16);
  font-weight: 400;
  line-height: 122.2%; /* 22/18 */

  color: #130b0b;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: toRem(20);
  row-gap: toRem(10);
  &__curr {
    font-weight: 700;
  }

  &__old {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: rgba(19, 11, 11, 0.5);
    }
  }
}

//========================================================================================================================================================

.category-products {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);
  &__container {
  }

  &__items {
    display: grid;
    column-gap: toRem(13);
    row-gap: toRem(20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));

    @media (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: toRem(10);
    }
  }

  &__item {
    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;

        .category-products__image-ibg {
          box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        }
      }
    }
  }

  &__image-ibg {
    padding-bottom: 100%;
    transition: box-shadow 0.3s ease 0s;

    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__text {
    @include adaptiveValue("font-size", 29, 22);
    font-weight: 700;
    line-height: 124.1%; /* 36/29 */

    transition: all 0.3s ease 0s;

    @media (min-width: $mobile) {
      padding: toRem(10);
    }
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
}

//========================================================================================================================================================

.offers {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);
  &__container {
  }

  &__title {
    font-weight: 500;
    color: #3c3f52;

    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__slide {
  }

  &__slider {
  }

  &__wrapper {
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
  }

  &__navigation {
  }

  &__pagination {
  }
}

.slide-offers {
  background-color: #ec5027;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include adaptiveValue("gap", 20, 10);

  flex: 1 1 100%;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

  @media (any-hover: hover) {
    &:hover {
      .slide-offers__text {
        color: #130b0b;
      }
    }
  }

  &__text {
    transition: all 0.3s ease 0s;

    @media (max-width: $mobile) {
      padding: toRem(20) toRem(15);
    }

    @media (min-width: $mobile) {
      max-width: toRem(374);
      @include adaptiveValue("padding-left", 50, 15, 0, 1430, 991);
    }
  }

  &__image-ibg {
    // flex: 0 0 percent(509, 1350);
    // padding-bottom: percent(190, 1350);

    @media (max-width: $mobile) {
      width: 100%;
      padding-bottom: percent(120, 345);
    }

    @media (min-width: $mobile) {
      flex: 0 0 toRem(300);
      height: toRem(140);
    }

    @media (min-width: $tablet) {
      flex: 0 0 toRem(509);
      height: toRem(190);
    }

    border: 1px solid #130b0b;
  }
}

//========================================================================================================================================================

.advantages {
  @include adaptiveValue("padding-top", 95, 35);
  @include adaptiveValue("padding-bottom", 95, 35);
  &__container {
  }
  &__title {
    font-weight: 400;
    text-align: center;

    @include adaptiveValue("margin-bottom", 60, 35);
  }

  &__items {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(20);
    grid-template-columns: repeat(auto-fill, minmax(toRem(335), 1fr));

    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}

.item-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include adaptiveValue("gap", 30, 15);

  @media (max-width: $mobile) {
    flex-direction: row;
  }

  &__ico {
    @include adaptiveValue("width", 100, 60);
    @include adaptiveValue("height", 100, 60);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  &__text {
    text-align: center;
    color: #130b0b;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 29, 20);
    font-weight: 700;
    line-height: 124.1%; /* 36/29 */
  }
}
