.profile {
  @include adaptiveValue("padding-top", 70, 35);
  @include adaptiveValue("padding-bottom", 85, 40);
  &__container {
  }

  &__back {
    @include adaptiveValue("margin-bottom", 70, 25);
  }
  &__title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding-bottom: toRem(30);
  }

  &__body {
    display: flex;
    @include adaptiveValue("gap", 100, 30, 0, 1430, 1150);

    @include adaptiveValue("padding-top", 40, 30);

    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__wrapper {
    @media (min-width: $tablet) {
      flex: 1 1 auto;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 30, 20);

    @media (min-width: $tablet) {
      flex: 0 0 toRem(280);
    }
    @media (max-width: $tablet) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      padding-bottom: toRem(20);
    }
  }

  &__link {
    display: inline-block;
    width: fit-content;
    position: relative;
    color: #130b0b;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 36, 24);
    font-weight: 400;
    line-height: 125%; /* 45/36 */
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #ec5027;
        &::after {
          opacity: 1;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #ec5027;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
    }

    &.active {
      color: #ec5027;
      &::after {
        opacity: 1;
      }
    }
    &.logout {
      opacity: 0.4;
      @media (any-hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__form {
    max-width: toRem(590);
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__orders {
  }

  &__order-profile {
  }

  &__order {
  }

  &__favorite {
    display: flex;
    flex-direction: column;

    @include adaptiveValue("gap", 90, 60);

    max-width: toRem(836);
    margin-left: auto;
  }

  &__favorite-items {
    display: grid;
    column-gap: toRem(10);
    @include adaptiveValue("row-gap", 60, 40);
    grid-template-columns: repeat(auto-fill, minmax(toRem(270), 1fr));
  }
  &__favorite-item {
  }

  &__favorite-button {
    width: 100%;
  }

  &__empty {
  }
}

.form-profile {
  display: flex;
  flex-direction: column;
  &__label {
    color: #130b0b;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 20, 18);
    font-weight: 500;
    line-height: 120%; /* 24/20 */

    display: grid;
    gap: toRem(10);

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    @media (min-width: $mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__input {
    height: toRem(50);
    flex: 0 0 percent(423, 590);
  }

  &__button {
    align-self: flex-end;
    width: 100%;
    @include adaptiveValue("margin-top", 20, 10);

    @media (min-width: $mobile) {
      width: percent(423, 590);
    }
  }
}

//========================================================================================================================================================

.profile {
}
.order-profile-item {
  padding-bottom: toRem(35);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

  display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, auto);
  column-gap: toRem(20);
  row-gap: toRem(25);

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border-color: #000;
    }
  }

  &:not(:last-child) {
    margin-bottom: toRem(40);
  }

  &__col {
    @media (min-width: $mobile) {
      &:last-child {
        text-align: end;

        .order-profile-item__top {
          justify-content: flex-end;
        }
      }
    }
  }

  &__top {
    display: flex;
    gap: toRem(10);

    margin-bottom: toRem(20);
  }

  &__title {
    border: 1px solid #ec5027;
    background-color: #fff;

    padding: toRem(5) toRem(10);

    color: #ec5027;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 18, 16, 0, 1430, 991);
    font-weight: 500;
    line-height: 122.2%; /* 22/18 */

    &.fill {
      background-color: #ec5027;
      color: #fff;
    }
  }

  &__date {
    opacity: 0.4;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(12);
  }

  &__image {
    width: toRem(60);
    height: toRem(60);
    border: 1px solid #130b0b;

    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__price {
  }
}

//========================================================================================================================================================

.order-profile {
  &__status {
    border: 1px solid #ec5027;
    background-color: #ec5027;

    padding: toRem(5) toRem(10);

    color: #fff;
    font-family: Gilroy;
    @include adaptiveValue("font-size", 18, 16, 0, 1430, 991);
    font-weight: 500;
    line-height: 122.2%; /* 22/18 */

    display: inline-block;

    margin-bottom: toRem(40);
  }

  &__steps {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @include adaptiveValue("margin-bottom", 70, 10);
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
      //   row-gap: toRem(20);
    }
  }

  &__step {
    color: #130b0b;
    font-family: Gilroy;

    padding-top: toRem(30);
    padding-right: toRem(10);
    position: relative;

    @media (max-width: $mobile) {
      padding-top: 0;
      padding-left: toRem(30);

      padding-right: 0;

      padding-bottom: toRem(30);
    }

    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;

    &::before {
      content: "";
      position: absolute;
      width: toRem(20);
      height: toRem(20);
      top: 0;
      left: 0;

      background-color: rgba(19, 11, 11, 0.5);
      border-radius: 50%;
      z-index: 2;
    }

    &:not(:first-child) {
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: 10px;
        right: 100%;
        background-color: rgba(19, 11, 11, 0.5);
        z-index: 1;

        @media (max-width: $mobile) {
          width: 1px;
          height: 100%;
          right: auto;
          left: 10px;
          top: auto;
          bottom: 100%;
        }
      }
    }

    &:last-child {
      &::before {
        content: "\e905";
        @extend %ic;
        color: rgba(19, 11, 11, 0.3);
        font-size: toRem(33);

        top: -6px;
        right: 0;
        background-color: transparent;
        width: toRem(40);
        height: toRem(40);

        @media (max-width: $mobile) {
          top: 0;
          right: auto;
          left: -6px;
        }
      }
    }

    &.active {
      &::before,
      &::after {
        background-color: #ec5027;
      }
      &:last-child::before {
        background-color: transparent;
        color: #ec5027;
      }

      .order-profile__date {
        opacity: 1;
      }
    }
  }

  &__date {
    @include adaptiveValue("font-size", 20, 16);
    font-weight: 400;
    line-height: 110%; /* 22/20 */

    opacity: 0;
  }

  &__text {
    font-size: 15px;
    @include adaptiveValue("font-size", 15, 14);
    line-height: 110%;
  }

  &__title {
    @include adaptiveValue("margin-bottom", 30, 20);

    font-size: toRem(20);
    font-weight: 500;
    line-height: 110%; /* 22/20 */
  }

  &__lines {
    @include adaptiveValue("margin-bottom", 70, 40);
  }

  &__line {
    display: flex;
    justify-content: space-between;
  }
}

//========================================================================================================================================================

.empty-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__ico {
    @include adaptiveValue("font-size", 60, 45);
    @include adaptiveValue("margin-bottom", 30, 20);
    color: #ec5027;
  }

  &__title {
    margin-bottom: toRem(20);
  }

  &__text {
    @include adaptiveValue("font-size", 18, 16);
    font-weight: 400;
    line-height: 130%; /* 23.4px */

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 30);
    }
  }

  &__button {
    max-width: toRem(430);
    width: 100%;
  }
}
